<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<form action="/jobs/" th:action="@{/jobs/}" th:object="${job}" th:method="POST" method="POST">


    <input type="text" th:field="*{title}"    class="form-control"/>
    <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Job Type Error will appear here</td>



    <input type="text" th:field="*{description}"   class="form-control"/>
    <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Job Type Error will appear here</td>

    <input type="text" th:field="*{numberOfPeopleToHire}"  class="form-control"/>
    <td th:if="${#fields.hasErrors('numberOfPeopleToHire')}" th:errors="*{numberOfPeopleToHire}">Job Type Error will appear here</td>

    <!-- Date : <input type="date" th:field="*{lasApplicationDate}"/> -->


    <button type="submit" class="btn btn-default">Submit</button>
    <input type="hidden"  name="${_csrf.parameterName}"   value="${_csrf.token}"/>


</form>

</body>
</html>