<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

    <meta charset="UTF-8" />
    <Context allowCasualMultipartParsing="true" />
    <title>Title</title>
</head>
<body>

<!-- enctype="multipart/form-data" -->


<form action="/applicationForm" th:action="@{/applicationForm}"  th:method="post" method="post" th:object="${jobApplicationForm}">

    <input type="text" th:field="*{name}"/>
    <input type="text" th:field="*{email}"/>
    <input type="text" th:field="*{phoneNumber}"/>
    <input type="text" th:field="*{adress}"/>
    <input type="hidden" name="jobId" th:field="*{jobId}" th:value="${jobId}" />

    <input type="hidden"  name="${_csrf.parameterName}"   value="${_csrf.token}"/>


    <button th:type="submit"> submit </button>
</form>

</body>
</html>
