<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<td th:text="${job.title}" > Item code will appear here</td>
<td th:text="${job.description}" > Item code will appear here</td>
<td th:text="${job.numberOfPeopleToHire}" > Item code will appear here</td>


<br />
basvuru:
<br />
<a href="/applicationForm">BASVUR</a>

jobApplicationForm


</body>
</html>