<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>


<body>
<td th:text="${job.title}" > Item code will appear here</td>
<td th:text="${job.description}" > Item code will appear here</td>
<td th:text="${job.numberOfPeopleToHire}" > Item code will appear here</td>
<br />



gelen basvurular <br />
<tr th:each="form : ${job.applicationForms}">

    <td th:text="${form.name}" />
</tr>



<a th:href="@{/applicationForm/new(id=${job.id})}" >Basvur </a>


</body>
</html>